<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Plays Cards</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/playingcards.css" media="all">
	<link rel="stylesheet" href="../css/main.css" media="all">
  </head>
  <body>
    <%= yield %>
    <script src="../js/playingcards.js"></script>
  </body>
</html>
